@model Echelon.Models.ViewModels.CategoriesViewModel

@section metadata{
    <title>Echelon Chat</title>
}

@Html.AntiForgeryToken()
<section id="container" class="page-container__information">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            @foreach (var item in Model.Categories)
            {
                <div>@item.Name</div>
            }
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        $(function () {
            ChatPage();
        });
    </script>
}