@model Echelon.Models.ViewModels.CategoriesViewModel

@section metadata{
    <title>Echelon Chat</title>
}

<section class="form-material">
    <i class="fa fa-th-list fa-1" aria-hidden="true"></i>
    <ul>
        @if (Model.Categories != null)
        {
            foreach (var category in Model.Categories)
             {
                 <li>@category.Name</li>
             }
        }
    </ul>
</section>