/*@import "Mixins/theme-mixin";*/
//@import "..//*@echo title*/";

/*--MAIN COLORS--*/
$color-primary: #111111; //deepemerald
$color-secondary: #7a709e; //deep purple
$color-tertiary: #de8b5c; //deep purple
$color-control: #77d1f9; //darkblue #87ceeb
$color-hover: #5ab5de; //shallowemerald