@import "mixins";
@import "Modules/atomic";

* {
    box-sizing: border-box;
}

.main-background {
    background-image: url('../assets/imgs/white-circles-wallpaper.jpg');
    background-size: contain;
    position: absolute;
    width: 50%;
    height: 50%;
    opacity: 0.7;
    background-repeat: no-repeat;


    @include Middle-less {
        width: 100%;
        height: 100%;
    }

    &--hide-small {
        @include Middle-less {
            display: none;
        }
    }
}


.window-container {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    @extend .width-100-percent;
    position: absolute;
    text-align: center;
    bottom: 20px;
}

header a, header a:visited {
    font-size: 18px;
    color: #dedede;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.loading {

    &__overlay {
        @extend .width-100-percent;
        @extend .height-100-percent;
        @extend .position-fixed;
        top: 0;
        left: 0;
        z-index: 10000002;
        background-color: $color-white;
    }

    &__icon {
        background: url(../assets/imgs/spinner-white.gif) no-repeat;
        background-size: contain;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10000002;
        height: 50px;
        width: 50px;
    }


    &__text {
        position: relative;
        width: 200px;
        height: 50px;
        background-color: white;
        animation-name: example;
        animation-duration: 1.5s;
        color: $color-primary;

        @keyframes example {
            0% {
                background-color: $color-primary;
                left: 300px;
                top: 0px;
            }

            25% {
                background-color: $color-primary;
                left: 150px;
                top: 0px;
            }
        }

        &--initial {
            margin-top: 100px;
        }
    }
}
