@import "mixins";
@import "Modules/atomic";
@import "variables";
@import "Themes//*@echo title*/";

* {
    box-sizing: border-box;
}

.theme {
    &__background {
        background-color: $color-background;
    }

    &__text {
        color: $color-text;

        &--alternate {
            color: $color-text-alternate;
        }
    }
}

.main-background {
    position: absolute;
    width: 50%;
    height: 50%;
    opacity: 0.7;
    background-repeat: no-repeat;

    @include Middle-less {
        width: 100%;
        height: 100%;
    }

    &--hide-small {
        @include Middle-less {
            display: none;
        }
    }
}

.window-container {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  display: none;
}

.validation-summary-errors {
    color: $color-red-dark;
}

header {
    @extend .width-100-percent;
    position: absolute;
    text-align: center;
    bottom: 20px;
}

header a, header a:visited {
    font-size: 18px;
    color: $color-gray-medium;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $color-gray-light;
    border-left: 1px solid $color-border;
}

::-webkit-scrollbar-thumb {
    background-color: $color-border;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $color-gray-dark;
}


iframe {
    width: 100% !important;
}

.btn {
    @extend .display-inline-block;
    @extend .vertical-align-middle;
    @extend .cursor-pointer;
    @extend .border-none;
    @extend .margin-0;
    @extend .overflow-visible;
    @extend .text-align-center;
    @extend .font-weight-bold;
    font-family: inherit;
    padding: 12px 1em;
    background-color: $color-primary;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;

    .btn:hover {
        background-color: $color-hover;
    }

    &__control {
        background-color: $color-primary;

        @include Middle-less {
            margin-top: 10px;
        }


        &:hover {
            background-color: powderblue;
        }
    }
}

.field-validation-error {
    color: $color-red-dark;
}

.input-validation-error{
    border: solid 1px $color-red-dark !important;
}

.footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}