$atomic-left: left;
$atomic-right: right;
$atomic-spacing-base-unit: 10px;

$atomic-font-size-xs: 10px;
$atomic-font-size-sm: 12px;
$atomic-font-size-df: 15px;
$atomic-font-size-lg: 22px;
$atomic-font-size-xl: 36px;

$atomic-color-primary: "#00beef";
$atomic-color-accent: "#ffaa00";

// Background
.bg-none {
    background: none;
}

.bg-color-white {
    background-color: white;
}

.bg-color-black {
    background-color: black;
}

.bg-color-transparent {
    background-color: transparent;
}

.bg-color-primary {
    background-color: $atomic-color-primary;
}

.bg-color-accent {
    background-color: $atomic-color-accent;
}

.bg-no-repeat {
    background: no-repeat;
}

// Border

.border {
    border: 1px solid $atomic-color-primary;
}

.border-0 {
    border: 0 !important;
}

.border-top {
    border-top: 1px solid $atomic-color-primary;
}

.border-bottom {
    border-bottom: 1px solid $atomic-color-primary;
}

.border-left {
    border-left: 1px solid $atomic-color-primary;
}

.border-right {
    border-right: 1px solid $atomic-color-primary;
}

.border-none {
    border: none;
}

.border-collapse-collapse {
    border-collapse: collapse;
}

.border-radius-0 {
    border-radius: 0;
}

.border-top-right-radius-0 {
    border-top-right-radius: 0;
}

.border-top-left-radius-0 {
    border-top-left-radius: 0;
}

.border-bottom-right-radius-0 {
    border-bottom-right-radius: 0;
}

.border-bottom-left-radius {
    border-bottom-left-radius: 0;
}

.border-top-right-left-radius-0 {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.border-top-bottom-right-radius-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-bottom-right-left-radius-0 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.border-top-bottom-left-radius-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bx-shadow {
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

// Color
.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-primary {
    color: $atomic-color-primary;
}

.color-accent {
    color: $atomic-color-accent;
}

.clear-both {
    clear: both;
}

.clear-left {
    clear: $atomic-left;
}

.clear-right {
    clear: $atomic-right;
}

// Misc :Cursor, Display Font
.cursor-default {
    cursor: default;
}

.cursor-auto {
    cursor: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-text {
    cursor: text;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

// Typography

.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-bolder {
    font-weight: bolder;
}

.font-weight-lighter {
    font-weight: lighter;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-style-normal {
    font-style: normal;
}

.font-style-italic {
    font-style: italic;
}

.font-size-xs {
    font-size: $atomic-font-size-xs;
}

.font-size-sm {
    font-size: $atomic-font-size-sm;
}

.font-size-md {
    font-size: $atomic-font-size-df;
}

.font-size-lg {
    font-size: $atomic-font-size-lg;
}

.font-size-xl {
    font-size: $atomic-font-size-xl;
}

.float-left {
    float: $atomic-left;
}

.float-right {
    float: $atomic-right;
}

.float-none {
    float: none;
}

// Margin, padding, and sizing
// Lists
.list-style-none {
    list-style: none;
}

.line-height-1 {
    line-height: 1;
}


.margin-auto {
    margin: auto;
}

.margin-0 {
    margin: 0 !important;
}

.margin-0-auto {
    margin: 0 auto;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-top-auto {
    margin-top: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-bottom-auto {
    margin-bottom: auto;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-top-bottom-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-left-right-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.mx-box {
    max-height: 380px;
    min-height: 380px;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-x-visible {
    overflow-x: visible;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-y-visible {
    overflow-y: visible;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-wrap-break-word {
    overflow-wrap: break-word;
}

.opacity-0 {
    opacity: 0;
}

.opacity-2 {
    opacity: 0.2;
}

.opacity-4 {
    opacity: 0.4;
}

.opacity-6 {
    opacity: 0.6;
}

.opacity-8 {
    opacity: 0.8;
}

.opacity-10 {
    opacity: 1;
}

// Outline
.outline-none {
    outline: none;
}

.padding-auto {
    padding: auto;
}

.padding-0 {
    padding: 0 !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-top-0 {
    padding-top: 0 !important;
}

.padding-top-5{
    padding-top: 5px;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-top-auto {
    padding-top: auto;
}

.padding-right-auto {
    padding-right: auto;
}

.padding-bottom-auto {
    padding-bottom: auto;
}

.padding-left-auto {
    padding-left: auto;
}

.padding-top-bottom-auto {
    padding-top: auto;
    padding-bottom: auto;
}

.padding-left-right-auto {
    padding-left: auto;
    padding-right: auto;
}

// Position and block model
.position-relative {
    position: relative;
}

.position-static {
    position: static;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.page-break-before-always {
    page-break-before: always;
}

.page-break-before-left {
    page-break-before: left;
}

.page-break-before-right {
    page-break-before: right;
}

.page-break-inside-avoid {
    page-break-inside: avoid;
}

.page-break-after-always {
    page-break-after: always;
}

.page-break-after-left {
    page-break-after: left;
}

.page-break-after-right {
    page-break-after: right;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.top-auto {
    top: auto;
}

.right-auto {
    right: auto;
}

.bottom-auto {
    bottom: auto;
}

.left-auto {
    left: auto;
}

.text-align-left {
    text-align: $atomic-left;
}

.text-align-right {
    text-align: $atomic-right;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.text-transform-none {
    text-transform: none;
}

.text-transform-capitalize {
    text-transform: capitalize;
}

.text-transform-lowercase {
    text-transform: lowercase;
}

.thumb-sm {
    height: 32px;
    width: 32px;
}

.thumb-md {
    height: 48px;
    width: 48px;
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-baseline {
    vertical-align: baseline;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

.width-100-percent {
    width: 100%;
}

.width-50-percent {
    width: 50%;
}

.width-25-percent {
    width: 25%;
}

.height-100-percent {
    height: 100%;
}

.height-50-percent {
    height: 50%;
}

.height-25-percent {
    height: 25%;
}

.white-space-normal {
    white-space: normal;
}

.white-space-pre {
    white-space: pre;
}

.white-space-no-wrap {
    white-space: nowrap;
}
