@import "../mixins";
@import "atomic";
@import "../variables";
@import "../Themes//*@echo title*/";

.avatar {
    @extend .float-left;
    @extend .position-relative;
    cursor: pointer;
    image-rendering: auto;
    background-color: $color-background;
    margin-top: 10px;
    height: 42px;
    width: 42px;
    margin-left: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px $color-white, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px $color-white, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px $color-white, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);

    &--menu:hover {
        transform: rotate(90deg);
        transition: all .3s ease;
    }

    &--other {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        @include Middle-less {
            width: 30px;
            height: 30px;
            float: none;
            position: relative;
            left: 40px;
            top: 15px;
        }
    }

    &--profile {
        @extend .float-none;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;

        @include Middle-less {
            width: 110px;
            height: 110px;
        }
    }
}
