@import "../mixins";
@import "atomic";
@import "../variables";
@import "../Themes//*@echo title*/";

.form__container {
    @include placeholder-color($color-text);

    &--border {
        @include Middle-more {
            padding: 25px;
            border-radius: 25px;
            border: 4px solid $color-primary;
        }
    }

    .form-group {
        overflow: hidden;
    }

    .form-control {
        color: $color-text-alternate;
        background-position: center bottom,center calc(99%);
        background-repeat: no-repeat;
        background-size: 0 2px,100% 1px;
        padding: 0;
        transition: background 1s ease-out 0s;
        border: 0 none;
        border-radius: 3px;
        text-indent: 10px;
        box-shadow: none;
        float: none;
        margin-bottom: 10px;
    }

    input.form-control {
        background-color: $color-input;
    }

    .form-control:focus {
        background-size: 100% 2px,100% 1px;
        outline: 0 none;
        transition-duration: .3s;
        background-image: linear-gradient(#9675ce, #9675ce),linear-gradient($color-box-bottom, $color-box-bottom);
    }

    .form-bordered .form-group {
        border-bottom: 1px solid rgba(120,130,140,0.13);
        padding-bottom: 20px;
    }
}
