@import "atomic";
@import "../variables";
@import "../Themes//*@echo title*/";

.loading {
    &__overlay {
        @extend .width-100-percent;
        @extend .height-100-percent;
        @extend .position-fixed;
        top: 0;
        left: 0;
        z-index: 10000002;
    }

    &__messages {
        top: 30%;
        left: 50%;
        margin-left: -30px;
        position: absolute;
    }

    &__icon {
        border: 5px solid $color-gray-dark;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        border-top: 10px solid $color-primary;
        border-radius: 50%;
        width: 50px;
        height: 50px;

        &--main {
            position: fixed;
            margin-left: -35px;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10000002;
            width: 80px;
            height: 80px;
        }

        &--upload {
            @extend .display-inline-block;
            border: 2px solid $color-white;
            border-top: 2px solid $color-primary;
            width: 14px;
            height: 14px;
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    &__text {
        @extend .font-weight-bold;
        @extend .position-relative;
        display: none;
        width: 200px;
        height: 50px;
        animation-name: messageslide;
        animation-duration: 1.5s;
        color: $color-primary;

        @keyframes messageslide {
            0% {
                left: 300px;
                top: 0px;
            }

            25% {
                left: 150px;
                top: 0px;
            }
        }

        &--initial {
            margin-top: 100px;
        }
    }
}
