
@keyframes greenPulse {
    0% {
          box-shadow:5px 4px 17px -4px #4bbec8
    }

    50% {
          box-shadow: 5px 4px 27px -4px #4bbec8
    }

    100% {
          box-shadow: 5px 4px 17px -4px #4bbec8
    }
}


.bubbles {
    height: 100%;
    padding: 100px 0;
}

.bubble {
    background: #fff;
    width: 55px;
    height: 55px;
    position: absolute;
    display: block;
    left: 110px;
    bottom: 110px;
    border-radius: 100px;
    background: -webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
    background: -moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
    background: -webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
    background: gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
    opacity: 0.8;


    &__glow {
        width: 100%;
        height: 100%;
        background: #222;
        position: relative;
        display: block;
        border-radius: 200px;
        animation: greenPulse 4s infinite;
        -webkit-animation: greenPulse 4s infinite;
        -moz-animation: greenPulse 4s infinite;
        -o-animation: greenPulse 4s infinite;
        background: -webkit-gradient(radial,center center,0,center center,100,from(rgba(255, 255, 255, 0.2)),to(rgba(0, 230, 230, 0.7)));
        /*box-shadow: 0px 0px 20px 0px #4bbec8;*/
    }

    &--one {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    }

    &--two {
        left: 20%;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6);
        -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
        -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
        -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    }

    &--three {
        left: 40%;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    }

    &--four {
        left: 60%;
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        transform: scale(0.75);
        -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    }

    &--five {
        left: 80%;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-animation: moveclouds 13s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -moz-animation: moveclouds 13s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -o-animation: moveclouds 13s linear infinite, sideWays 1s ease-in-out infinite alternate;
    }
}

@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@-o-keyframes moveclouds {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}
