@import "../mixins";
@import "../Modules/atomic";
@import "../variables";
@import "../Themes//*@echo title*/";

/* The side navigation menu */
.sidenav {
    padding-top: 60px;
    display: none;
    z-index: 4;
    height: 100% !important; /* 100% Full-height */
    width: 17%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    background-color: $color-primary; /* Black*/
    box-shadow: #444 -1px 0 5px 1px;

    @include Middle-less {
        width: 98%;
        border-radius: 50px;
        margin-top: 2%;
        height: auto !important; /* 100% Full-height */
    }

    &--left {
        left: 0px;

        @include Middle-less {
            margin-left: 1%;
        }
    }

    &--right {
        right: 0px;

        @include Middle-less {
            margin-right: 1%;
        }
    }

    &__overlay {
        display: none;
        width: 100%;
        height: 100vh !important;
        z-index: 3;
        background-color: black;
        position: fixed;
        opacity: 0.5;

        &--right {
            right: 0px;
        }

        &--left {
            left: 0px;
        }
    }
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    transition: 0.3s;
    color: $color-white;
    text-align: center;
}

.sidenav--slides:hover {
    padding-right: 50px;
    background-color: $color-sidenavHover;

    &:last-child {
        @include Middle-less {
            border-radius: 0px 0px 50px 50px;
        }
    }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: $color-white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    color: $color-white;

    &:hover {
        color: $color-identifier;
    }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        /*padding-top: 15px;*/
    }

    .sidenav a {
        font-size: 18px;
    }
}


.userMenu {
    padding-top: 60px;
    z-index: 3;
    height: 100% !important;
    width: 17%; 
    position: fixed; 
    background-color: $color-user-menu;
    box-shadow: #444 2px 0 5px 1px;

    @include Middle-more{
        display: block;
    }

    @include Middle-less{
         width: 100%; 
    }

    &--left {
        left: 0px;
    }

    &--right {
        right: 0px;
    }
}

/* The navigation menu links */
.userMenu a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: 0.3s;
    text-align: center;
    box-shadow: black 10px -6px 19px;
}

.userMenu {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;

    &:hover {
        color: $color-identifier;
    }
}

.userMenu {
    @extend .display-none;
    @extend .text-align-center;
    @extend .height-100-percent;
    @extend .font-weight-bold;
    color: $color-shadow-dark;
    right: 1px;
    display: block;
    padding-bottom: 10%;

    &__participant {
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            background-color: $color-box-bottom;
        }

        &--username {
            color: $color-text-alternate;
            margin-top: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: left;
        }
    }
}
