@import "../mixins";
@import "../Modules/atomic";
@import "../variables";
@import "../Themes//*@echo title*/";

/* The side navigation menu */
.sidenav {
    padding-top: 60px;
    display: none;
    z-index: 9;
    height: 100% !important; /* 100% Full-height */
    width: 17%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    background-color: $color-gray-darkest; /* Black*/
    box-shadow: #444 -1px 0 5px 1px;

    @include Middle-less {
        width: 98%;
        border-radius: 50px;
        margin-top: 2%;
        height: 30% !important; /* 100% Full-height */
    }

    &--left {
        left: 0px;

        @include Middle-less {
            margin-left: 1%;
        }
    }

    &--right {
        right: 0px;

        @include Middle-less {
            margin-right: 1%;
        }
    }

    &__overlay {
        display: none;
        width: 100%;
        height: 100% !important;
        z-index: 5;
        background-color: black;
        position: absolute;
        opacity: 0.5;

        &--right {
            right: 0px;
        }

        &--left {
            left: 0px;
        }
    }
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color: #00daff;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: $color-white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: $color-white;

    &:hover{
        color: $color-red-dark;
    }

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
