@import "../mixins";
@import "atomic.scss";
@import "../variables";
@import "../Themes//*@echo title*/";

.main-wrapper {
    width: 82%;
    position: absolute;
    bottom: 0;

    @include Middle-less {
        width: 100%;
        background: none;
    }
}

i.basic-icon {
    z-index: 2;
    font-size: 2rem;
    color: $color-white;
    border-radius: 50%;
    cursor: pointer;

    &--search {
        transform: scale(1);
        transition: transform 0.3s;
        padding: 5px 5px 0px 5px;
        top: 5px;

        &:hover {
            transform: scale(1.5); 
            transition: transform 0.3s;
        }
    }
}

i.animated-icon {
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;

    &--send {
        padding: 15px;
        margin: 0px 1% 20px;
        float: right;

        @include Middle-more {
            margin: 0 1% 5px 0%;
        }
    }
}

i.animated-icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border: solid 2px;
    transform: scale(0.8);
    position: absolute;
    top: -1px;
    left: -5px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

i.animated-icon:hover:after {
    transform: scale(1);
}

i.animated-icon:nth-of-type(1) {
    background-color: $color-primary;
}

i.animated-icon:nth-of-type(1):hover {
    color: $color-primary;
}

i.animated-icon:nth-of-type(1):after {
    border-color: $color-primary;
}

i.animated-icon:hover {
    background-color: transparent;
    transform: translate(5px, 0px);
    box-shadow: none;
}
