@import "../variables";
@import "../mixins";

.sidebar {
    display: none;
    position: absolute;
    color: deeppink;
    text-align: center;
    right: 1px;
    width: 18%;
    border-left: 1px solid deepskyblue;
    height: 100%;

    @include Middle {
        display: block;
    }
}
