@mixin theme($name, $background, $text, $primary, $secondary, $tertiary, $backgroundImage) {
    .#{$name} {
        .component__background {
            background-color: $background;

            &--image {
                @if($backgroundImage != "") {
                    background-image: url($backgroundImage);
                    background-size: contain;
                }
            }
        }

        .component__text {
            color: $text;
        }

        .component__primary {
            background-color: $primary;
        }

        .component__secondary {
            background-color: $secondary;
        }

        .component__tertiary {
            background-color: $tertiary;
        }
    }
    /*[data-theme='#{$name}'] {
        background: $color;

        &:hover {
            background: darken($color, 10%);
        }

        &[disabled] {
            background: desaturate($color, 40%);
        }
    }*/
}

