/*--MAIN COLORS--*/
$color-timestamp: #556b2f;

$color-border: #cad1d4;
$color-box-bottom: #dedede;

$color-text: #000000;
$color-background: #ffffff;
$color-text-alternate: #909090;
$color-input: #bbbbbb;

$color-bg1:#ffffff;
$color-bg2: #fff4e8;
$color-bg3: #dedede;

$color-user-menu: #eaeaea;