/*--MAIN COLORS--*/
$color-primary: #268dbb;
$color-secondary: #7a709e; 
$color-tertiary: #de8b5c;
$color-control: #77d1f9; 
$color-hover: #5ab5de;
$color-sidenavHover: #3d384f;
$color-timestamp: #ffffff;

$color-border: #268dbb;
$color-box-bottom: #404040;

$color-text: #ffffff;
$color-background: #090909;
$color-text-alternate: #ffffff;
$color-input: #bbbbbb;

$color-btn-hover: #0094ff;
$color-btn-border-hover: #5a95f5;
$color-btn-border-bottom: #4285f4;
$color-username-me: #39b1e6;
$color-username-other: #946def;
$color-identifier: #C12C32;

$color-shadow: #9b9b9b;
$color-shadow-light: #f1f3f7;
$color-shadow-medium: #dedede;
$color-shadow-dark: #909090;
$color-shadow-darkest: #444444;

$color-bg1: #000000;
$color-bg2: #31331e;
$color-bg3: #555f5f;