/*--MAIN COLORS--*/
$color-timestamp: #ffffff;

$color-border: #268dbb;
$color-box-bottom: #404040;

$color-text: #ffffff;
$color-background: #090909;
$color-text-alternate: #ffffff;
$color-input: #bbbbbb;

$color-bg1: #000000;
$color-bg2: #31331e;
$color-bg3: #555f5f;