@using Echelon.Resources
@section metadata{
    <title>@Login.ForgottenPassword</title>
}

<section id="wrapper" class="page-container">
    <div class="margin">
        <div>
            <h2>Reset Password</h2>
            <div>An email has been sent to your account with instructions on how to reset your password.</div>
        </div>

        <div>
            <a class="" href="@Url.Action("Index", "Login")"> Home </a>
        </div>
    </div>
</section>

@section scripts {
    <script>
        $(function() {
        });
    </script>}
