@model Echelon.Models.ViewModels.RegisterViewModel

@section metadata{
    <title>Reset Password Success</title>
}

<section id="wrapper" class="page-container">
    <div>
        <h2>Your password has been reset successfully!</h2>
        <h2>@Html.ActionLink("Login", "Index", "Login")</h2>
    </div>
</section>
@section scripts {
    <script>
        $(function() {
        });
    </script>
}