<header>
</header>

<section>
    <div id="messages"></div>
    <input id="chat-input" type="text" placeholder="say anything" autofocus />
</section>

@section scripts {
    @Scripts.Render("~/bundles/js")
}