<div class="bubbles__container">
    <div id="bubbles" class="bubbles">
        <div class="bubble bubble--one">
            <span class="bubble__glow"></span>
        </div>
        <div class="bubble bubble--two">
            <span class="bubble__glow"></span>
        </div>
        <div class="bubble bubble--three">
            <span class="bubble__glow"></span>
        </div>
        <div class="bubble bubble--four">
            <span class="bubble__glow"></span>
        </div>
        <div class="bubble bubble--five">
            <span class="bubble__glow"></span>
        </div>
    </div>
</div>