@import "../mixins";
@import "../Modules/atomic";
@import "../variables";
@import "../Themes//*@echo title*/";

.sidebar {
    @extend .display-none;
    @extend .text-align-center;
    @extend .height-100-percent;
    @extend .font-weight-bold;
    color: $color-shadow-dark;
    right: 1px;

    @include Middle-more {
        display: block;
        padding-bottom: 10%;
    }

    &__participant {
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            background-color: $color-box-bottom;
        }

        &--username {
            color: $color-shadow-dark;
            margin-top: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: left;
        }
    }
}

.chat {
    &__container {
        padding-top: 50px;

        @include Middle-more {
            padding-top: 60px;
        }
    }

    &__send-message {
        position: absolute;

        @include Middle-less {
            bottom: 0;
            right: 0;
        }

        @include Middle-more {
            bottom: 0;
            right: 10px;
        }
    }

    &__input {
        @extend .display-block;
        @extend .width-100-percent;
        @extend .outline-none;
        @extend .bg-color-transparent;
        @extend .border-none;
        @extend .bottom-0;
        @extend .padding-0;
        @extend .font-weight-bold;
        resize: none;
        z-index: 1;
        height: 52px;
        border-top: 1px solid $color-border !important;
        font-size: 16px;
        color: $color-shadow-dark;
        text-indent: 10px;

        @include Middle-more {
            font-size: 34px;
            height: 100px;
        }

        @include Middle-less {
            margin: 10px auto;
            height: 79px;
            width: calc(100% - 80px);
            font-size: 16px;
            border-radius: 20px;
            border: 2px solid $color-primary !important;
            margin-right: 4px;
            margin-left: 10px;
        }
    }
}

.chat-container {
    &__messages {
        display: block;
    }
}

#conversationGrid {
    @extend .width-100-percent;
    padding: 10px;
}

.messages {
    &__console {
        @extend .width-100-percent;
        @extend .margin-0-auto;
        @extend .overflow-y-auto;
        @extend .overflow-x-hidden;
        bottom: 70px;
        z-index: 1;
        padding: 10px;
        margin-bottom: 20px;

        @include Middle-more {
            padding-left: 18%;
        }
    }

    &--info {
        @extend .font-style-italic;
        color: $color-text;
        margin: 5px 0;
    }
}

.message-container {
    @extend .text-align-left;
    color: $color-white;
    margin: 2px 0;

    @include Middle-less {
        margin-right: 25px;
    }

    &--other {
        @include Middle-less {
            text-align: right;
        }
    }

    &__message {
        @extend .display-inline-block;
        @extend .overflow-wrap-break-word;
        @extend .font-weight-bold;
        border-radius: 25px;
        margin-right: 5px;
        padding: 16px;
        max-width: 80%;

        @include Middle-more {
            display: block;
            border-radius: 10px;
        }

        @include Middle-less {
            background: $color-control;
            padding: 10px;
            text-align: center;
        }

        &--me {
            color: $color-white;
            background: $color-primary;

            @include Middle-more {
                margin-right: 60px;
            }
        }

        &--other {
            color: $color-white;
            background: $color-secondary;

            @include Middle-more {
                margin-left: 60px;
            }
        }

        &--initial-me {
            @include Middle-less {
                border-radius: 0px 25px 25px 25px;
            }
        }

        &--initial-other {
            @include Middle-less {
                border-radius: 25px 0px 25px 25px;
            }
        }
    }

    &__username {
        @extend .display-inline-block;
        @extend .font-weight-bold;
        margin-right: 5px;

        @include Middle-less {
            display: block;
        }

        @include Middle-more {
            margin-top: 10px;
        }

        &--me {
            color: $color-username-me;
        }

        &--other {
            color: $color-username-other;
        }
    }

    &__timestamp {
        @extend .float-right;
        font-size: 10px;
        color: $color-timestamp;

        @include Middle-less {
            float: none;
            font-size: 9px;
            padding-left: 5px;
            padding-top: 5px;
        }
    }
}

.users__container {
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    @include Middle-less {
        display: none;
    }
}
