@import "../mixins";
@import "../Modules/atomic";
@import "../variables";
@import "../Themes//*@echo title*/";

.page-container {
    @extend .margin-0-auto;
    @extend .width-100-percent;
    color: $color-text-alternate;

    @include Middle-more {
        width: 700px;
    }

    &__information {
        padding: 25px;
        padding-top: 70px;
    }
}

.upload-state {
    display: none;
}

.file-upload {
    @extend .position-absolute;
    @extend .cursor-pointer;
    padding: 5px;
    margin-left: -80px;
    opacity: 0.0001;
    width: 0%;
}

.upload__button {
    opacity: 0.85 !important;
}
