@import "../mixins";
@import "../Modules/atomic";
@import "../variables";
@import "../Themes//*@echo title*/";

.login {
    &__container {
        @extend .width-100-percent;
        @extend .height-100-percent;
        @extend .position-relative;
        @extend .margin-0-auto;
        margin-top: calc(20vh - 80px);
        z-index: 4;
        padding: 25px;
        color: $color-text;

        @include Middle-more {
            width: 400px;
        }
    }

    &__social {
        @extend .display-block;
        margin-bottom: 30px;
    }

    &__title {
        color: $color-text;
        margin: 0 0 12px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 20px;
    }
}
