@import "../variables";
@import "../mixins";
@import "../Modules/atomic";

.sidebar {
    @extend .display-none;
    @extend .position-absolute;
    @extend .text-align-center;
    @extend .height-100-percent;
    @extend .font-weight-bold;
    color: $color-gray-dark;
    right: 1px;
    width: 17%;
    border-left: 1px solid $color-border;
    background-color: $color-white;

    @include Middle-more {
        display: block;
    }
}

.chat__input {
    @extend .display-block;
    @extend .width-100-percent;
    @extend .outline-none;
    @extend .bg-color-transparent;
    @extend .border-none;
    @extend .bottom-0;
    @extend .position-absolute;
    @extend .padding-0;
    @extend .font-weight-bold;
    resize: none;
    z-index: 1;
    height: 52px;
    border-top: 1px solid $color-border !important;
    font-size: 16px;
    color: $color-gray-dark;
    text-indent: 10px;
    background-color: $color-white;

    @include Middle-more {
        width: 82%;
        font-size: 34px;
        height: 60px;
    }

    @include Middle-less {
        margin: 10px auto;
        height: 67px;
        width: 85%;
        font-size: 16px;
        border-radius: 20px;
        border: 2px solid $color-primary !important;
        margin-right: 4px;
        margin-left: 10px;
    }
}

#conversationGrid {
    @extend .width-100-percent;
    padding: 10px;
}

.messages {
    &__console {
        @extend .width-100-percent;
        @extend .margin-0-auto;
        @extend .position-absolute;
        @extend .overflow-y-auto;
        @extend .overflow-x-hidden;
        bottom: 70px;
        z-index: 1;
        padding: 10px;
        margin-bottom: 10px;

        @include Middle-more {
            width: 80%;
            position: absolute;
            padding-left: 221px;
        }
    }

    &--info {
        @extend .font-style-italic;
        color: $color-black;
        margin: 5px 0;
    }
}

.message-container {
    @extend .text-align-left;
    color: $color-white;
    margin: 2px 0;

    @include Middle-less {
        margin-right: 25px;
    }

    &--other {
        @include Middle-less {
            text-align: right;
        }
    }

    &__message {
        @extend .display-inline-block;
        @extend .overflow-wrap-break-word;
        @extend .font-weight-bold;
        margin-right: 5px;
        padding: 16px;
        border-radius: 25px;
        max-width: 80%;

        @include Middle-more {
            display: block;
            border-radius: 10px;
        }

        @include Middle-less {
            background: $color-control;
            padding: 10px;
        }

        &--me {
            color: $color-white;
            background: $color-primary;

            @include Middle-more {
                margin-right: 60px;
            }
        }

        &--other {
            color: $color-white;
            background: #7a709e;

            @include Middle-more {
                margin-left: 60px;
            }
        }
    }

    &__username {
        @extend .display-inline-block;
        @extend .font-weight-bold;
        margin-right: 5px;

        @include Middle-less {
            display: block;
        }

        @include Middle-more {
            margin-top: 10px;
        }

        &--me {
            color: #39b1e6;
        }

        &--other {
            color: #946def;
        }
    }

    &__timestamp {
        @extend .float-right;
        font-size: 10px;
        color: $color-green;

        @include Middle-less {
            float: none;
            font-size: 9px;
            padding-left: 5px;
            padding-top: 5px;
        }
    }
}

/* Rounded avatars */
.avatar {
    @extend .float-left;
    @extend .position-relative;
    background-color: $color-black;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);

    @include Middle-less {
        margin-top: 5px;
        margin-left: 10px;
    }

    &--other {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        @include Middle-less {
            width: 30px;
            height: 30px;
            float: none;
            position: relative;
            left: 40px;
            top: 15px;
        }
    }

    &--profile {
        @extend .float-none;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;

        @include Middle-less {
            width: 20%;
            height: 20%;
        }
    }
}
