@import "../variables";
@import "../mixins";
@import "../Modules/atomic";


.login_input {
    color: $color-red-dark;
    @include p-base-light;
}

.btn {
    @extend .display-inline-block;
    @extend .vertical-align-middle;
    @extend .cursor-pointer;
    @extend .border-none;
    @extend .margin-0;
    @extend .overflow-visible;
    @extend .text-align-center;
    @extend .font-weight-bold;
    font-family: inherit;
    padding: 12px 1em;
    background-color: $color-secondary;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;

    &:hover {
        background-color: #0094ff;
        border-color: #5a95f5;
        border-bottom-color: #4285f4;
    }

    &__control {
        background-color: $color-control;

        @include Middle-less {
            margin-top: 10px;
        }


        &:hover {
            background-color: powderblue;
        }
    }
}

.google {

    &__btn {
        padding-left: 28px;
        background-color: #4285f4;
        border-color: #4285f4;
        border-bottom-color: #2a75f3;
    }

    &__btn:hover {
        background-color: #0094ff;
        border-color: #5a95f5;
        border-bottom-color: #4285f4;
    }

    &__icon {
        background-image: url(../assets/imgs/g-logo.png);
        background-size: 36px 36px;
        background-position-x: 10px;
        background-position-y: 4px;
        background-repeat: no-repeat;
    }

    &__label {
        padding-left: 28px;
        color: #ffffff;
    }
}

.google-translate {

    &__container {
        @extend .display-inline-block;
        margin-top: 5px;
    }
}

.login-panel {
    margin-top: 25%;
}

.white-box {
    background: #ffffff;
    padding: 25px;

    @include Middle-more {
        border: 4px solid $color-secondary;
    }
}

.white-box .box-title {
    margin: 0 0 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.tab-content {
    margin-top: 30px;
}

.form-material .form-group {
    overflow: hidden;
}

.form-material .form-control {
    background-color: rgba(0,0,0,0);
    background-position: center bottom,center calc(99%);
    background-repeat: no-repeat;
    background-size: 0 2px,100% 1px;
    padding: 0;
    transition: background 1s ease-out 0s;
}

.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
    background-image: linear-gradient(#9675ce, #9675ce),linear-gradient(rgba(120,130,140,0.13), rgba(120,130,140,0.13));
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    float: none;
}

.form-material .form-control.focus, .form-material .form-control:focus {
    background-size: 100% 2px,100% 1px;
    outline: 0 none;
    transition-duration: .3s;
}

.form-bordered .form-group {
    border-bottom: 1px solid rgba(120,130,140,0.13);
    padding-bottom: 20px;
}


.login-box {
    @extend .width-100-percent;
    @extend .height-100-percent;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 10%;

    @include Middle-more {
        width: 400px;
    }
}

.login-box .footer {
    @extend .width-100-percent;
    left: 0;
    right: 0;
}

.login-box .social {
    @extend .display-block;
    margin-bottom: 30px;
}

.login-sidebar {
    @extend .position-absolute;
    @extend .right-0;
    @extend .margin-top-0;
    height: 100%;
}
