@using Echelon.Resources
@model Echelon.Models.ViewModels.RegisterViewModel

@section metadata{
    <title>Confirm Registration</title>
}

<section id="wrapper" class="page-container">
    <div class="margin">
        <div>
            <h2>@Registration.SignUpSuccess</h2>
            <div>@Registration.CompleteEmailClick</div>
        </div>

        <div>
            <a class="" href="@Url.Action("Index", "Login")"> Home </a>
        </div>
    </div>
</section>
@section scripts {
    <script>
        $(function () {
        });
    </script>
}