@model Echelon.Models.ViewModels.RegisterViewModel

@section metadata{
    <title>Registration Success</title>
}

<section id="wrapper" class="page-container">
    <div>
        <h2>Registration Successful!</h2>
    </div>
</section>
@section scripts {
    <script>
        $(function() {
        });
    </script>
}