.dn {
    display: none
}

.db {
    display: block
}

.light_op_text {
    color: rgba(255,255,255,0.5)
}

.clear {
    clear: both
}

.font-12 {
    font-size: 12px
}

hr {
    border-color: rgba(120,130,140,0.13)
}

.b-t {
    border-top: 1px solid rgba(120,130,140,0.13)
}

.b-b {
    border-bottom: 1px solid rgba(120,130,140,0.13)
}

.b-l {
    border-left: 1px solid rgba(120,130,140,0.13)
}

.b-r {
    border-right: 1px solid rgba(120,130,140,0.13)
}

.b-all {
    border: 1px solid rgba(120,130,140,0.13)
}

.b-none {
    border: 0 !important
}

.max-height {
    height: 310px;
    overflow: auto
}

.p-0 {
    padding: 0 !important
}

.p-10 {
    padding: 10px !important
}

.p-20 {
    padding: 20px !important
}

.p-30 {
    padding: 30px !important
}

.p-l-0 {
    padding-left: 0 !important
}

.p-l-10 {
    padding-left: 10px !important
}

.p-l-20 {
    padding-left: 20px !important
}

.p-r-0 {
    padding-right: 0 !important
}

.p-r-10 {
    padding-right: 10px !important
}

.p-r-20 {
    padding-right: 20px !important
}

.p-r-30 {
    padding-right: 30px !important
}

.p-r-40 {
    padding-right: 40px !important
}

.p-t-0 {
    padding-top: 0 !important
}

.p-t-10 {
    padding-top: 10px !important
}

.p-t-20 {
    padding-top: 20px !important
}

.p-b-0 {
    padding-bottom: 0 !important
}

.p-b-10 {
    padding-bottom: 10px !important
}

.p-b-20 {
    padding-bottom: 20px !important
}

.p-b-30 {
    padding-bottom: 30px !important
}

.p-b-40 {
    padding-bottom: 40px !important
}

.m-0 {
    margin: 0 !important
}

.m-l-5 {
    margin-left: 5px !important
}

.m-l-10 {
    margin-left: 10px !important
}

.m-l-15 {
    margin-left: 15px !important
}

.m-l-20 {
    margin-left: 20px !important
}

.m-l-30 {
    margin-left: 30px !important
}

.m-l-40 {
    margin-left: 40px !important
}

.m-r-5 {
    margin-right: 5px !important
}

.m-r-10 {
    margin-right: 10px !important
}

.m-r-15 {
    margin-right: 15px !important
}

.m-r-20 {
    margin-right: 20px !important
}

.m-r-30 {
    margin-right: 30px !important
}

.m-r-40 {
    margin-right: 40px !important
}

.m-t-5 {
    margin-top: 5px !important
}

.m-t-0 {
    margin-top: 0 !important
}

.m-t-10 {
    margin-top: 10px !important
}

.m-t-15 {
    margin-top: 15px !important
}

.m-t-20 {
    margin-top: 20px !important
}

.m-t-30 {
    margin-top: 30px !important
}

.m-t-40 {
    margin-top: 40px !important
}

.m-b-0 {
    margin-bottom: 0 !important
}

.m-b-5 {
    margin-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px !important
}

.m-b-15 {
    margin-bottom: 15px !important
}

.m-b-20 {
    margin-bottom: 20px !important
}

.m-b-30 {
    margin-bottom: 30px !important
}

.m-b-40 {
    margin-bottom: 40px !important
}

.vt {
    vertical-align: top
}

.vb {
    vertical-align: bottom
}

.font-bold {
    font-weight: 700
}

.font-normal {
    font-weight: normal
}

.font-light {
    font-weight: 300
}

.pull-in {
    margin-left: -15px;
    margin-right: -15px
}

.b-0 {
    border: none !important
}

.vertical-middle {
    vertical-align: middle
}

.bx-shadow {
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1)
}

.mx-box {
    max-height: 380px;
    min-height: 380px
}

.thumb-sm {
    height: 32px;
    width: 32px
}

.thumb-md {
    height: 48px;
    width: 48px
}

.thumb-lg {
    height: 88px;
    width: 88px
}

.txt-oflo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.login-panel {
    margin-top: 25%
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857143
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(120,130,140,0.13);
    background-color: #f7fafc
}

.show-grid {
    margin: 15px 0
}

.huge {
    font-size: 40px
}

.white-box {
    background: #ffffff;
    padding: 25px;
    margin-bottom: 15px
}

.white-box .box-title {
    margin: 0 0 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px
}

.tab-content {
    margin-top: 30px
}

.form-material .form-group {
    overflow: hidden
}

.form-material .form-control {
    background-color: rgba(0,0,0,0);
    background-position: center bottom,center calc(99%);
    background-repeat: no-repeat;
    background-size: 0 2px,100% 1px;
    padding: 0;
    transition: background 0s ease-out 0s
}

.form-material .form-control,.form-material .form-control.focus,.form-material .form-control:focus {
    background-image: linear-gradient(#9675ce, #9675ce),linear-gradient(rgba(120,130,140,0.13), rgba(120,130,140,0.13));
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    float: none
}

.form-material .form-control.focus,.form-material .form-control:focus {
    background-size: 100% 2px,100% 1px;
    outline: 0 none;
    transition-duration: .3s
}

.form-bordered .form-group {
    border-bottom: 1px solid rgba(120,130,140,0.13);
    padding-bottom: 20px
}


.login-box {
    background: #ffffff;
    width: 400px;
    margin: 0 auto;
    margin-top: 10%
}

.login-box .footer {
    width: 100%;
    left: 0;
    right: 0
}

.login-box .social {
    display: block;
    margin-bottom: 30px
}

.login-sidebar {
    position: absolute;
    right: 0;
    margin-top: 0;
    height: 100%
}