@import "../variables";
@import "../mixins";

.topmenu-search {

    &__input {
        display: inline;
        width: 70%;
    }

    &__btn {
        background-color: $color-control !important;

        &:hover {
            background-color: $color-hover !important;
            border-color: #5a95f5;
            border-bottom-color: #4285f4;
        }
    }
}
