@import "../variables";
@import "../mixins";

.topmenu-search {

    &__input {
        display: inline;
        width: 70%;
    }

    &__btn {
        background-color: $color-control !important;

        &:hover {
            background-color: $color-hover !important;
            border-color: $color-btn-border-hover;
            border-bottom-color: $color-btn-border-bottom;
        }
    }
}
