@section metadata{
    <title>Echelon Chat</title>
}

<section>
    <div id="error">
       SOMETHING WENT WRONG!!!!
    </div>
</section>

@section scripts {
    <script>
        $(function() {
        });
    </script>
}