@section metadata{
    <title>Echelon Chat</title>
}

<section>
    <div id="alert alert-danger fade in alert-dismissable error">
      @ViewBag.ErrorMessage
    </div>
</section>

@section scripts {
    <script>
        $(function() {
        });
    </script>
}