@section metadata{
    <title>Echelon Chat</title>
}

<section class="page-container">
    <div class="page-container__information">
        <div class="alert alert-danger fade in alert-dismissable error">
            @Html.Raw(ViewBag.ErrorMessage)
        </div>
    </div>
</section>

@section scripts {
    <script>
        $(function() {
        });
    </script>
}