@section metadata{
    <title>Echelon Chat</title>
}

<section>
    <div class="alert alert-danger fade in alert-dismissable error">
        @Html.Raw(ViewBag.ErrorMessage)
    </div>
</section>

@section scripts {
    <script>
        $(function() {
        });
    </script>
}