@using Echelon.Resources
@{
    var user = Request.GetOwinContext().Authentication.User.Identity.Name;
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="#"></a>*@
                <img class="avatar" src="http://autokadabra.ru/system/uploads/users/20/20303/small.png?1319912650" alt="avatar"/>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main-menu">
            <div style="display: inline-block">
                <div id="google_translate_element" style="display: inline-block"></div>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control topmenu-search__input" placeholder=@SiteDocument.SearchCategories>
                    <button type="submit" class="btn topmenu-search__btn btn__control">@SiteDocument.Find</button>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right p-t-5">
                <li class="dropdown active">
                    @if (string.IsNullOrEmpty(user))
                    {
                        <span>@Login.NotLoggedIn</span>
                    }

                    else
                    {
                        <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Menu</span>
                            <span class="caret"></span>
                        </a>
                    }

                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">@SiteDocument.Profile</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            @Html.ActionLink(Login.LogOut, "Logout", "Login")
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>