<!DOCTYPE html>
<html>
<head>
    <title>Echelon</title>
    <link rel="shortcut icon" href="~/echelon.ico">
    @Styles.Render("~/bundles/css")
</head>
<body>
    @Html.Partial("_TopMenu")

    @RenderBody()
    <script src="//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.9/twilio-ip-messaging.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
