@section metadata{
    <title>Echelon Chat</title>
}

<style>
    .border {
        border-bottom: solid gray 1px;
    }

    .smileys {
        height: 15px;
    }
</style>


<section id="container" class="form__contianer">
    <input type="hidden" id="displayname" />
    <div style="height: 80%;">
        <div id="chats" style="float: left; width: 80%;"></div>
        <div id="onlineList" style="border-left: solid red 2px; float: right; height: 100%; width: 19%;">
            <div style="border-bottom: double; font-size: 20px;">Online Users</div>
        </div>
    </div>
    <div style="background-color: lightgray; border-top: double black; height: 19%;">
        <div style="float: left; height: 90%; position: relative; top: 10%;">
            <textarea spellcheck="true" id="message" style="height: 80%; width: 625px;"></textarea>
        </div>
        <div style="float: left; position: relative; top: 30%;">
            <input type="button" id="sendmessage" value="Send" />
        </div>
        <div style="float: left; position: relative; top: 30%;">
            <select id="users">
                <option value="All">All</option>
            </select>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
            ChatHubController();
        });
    </script>
}