@section metadata{
    <title>Echelon Chat</title>
}

@Html.AntiForgeryToken()
<section id="container" class="chat__container">
    <div class="main-background"></div>
    <div class="row">
        <div class="col-md-10 col-sm-10 form__container--border-right">
            <div id="loading">
                <div class="loading__overlay">
                    <div id="loadingMessages" class="loading__messages">
                        <div id="loggingIn" class="info loading__text loading__text--initial">Logging in...</div>
                        <div id="joiningChannel" class="info loading__text">Joining channel: </div>
                        <div id="joinedAs" class="info loading__text">Joined channel as: </div>
                    </div>
                </div>
                <div class="loading__icon loading__icon--main"></div>
            </div>
            <div id="messages" class="messages__console"></div>
        </div>
        <div class="col-md-2 col-sm-2 users" style="">
            <div id="users" class="sidebar">
                People in chat
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-sm-10 form__container--border-right">
            <div id="input-container">
                <textarea id="chat-input" class="chat__input" rows="1" cols="3" data-target="@Url.Action("Index", "Token")" placeholder="Type a message" tabindex="1"></textarea>
                <i id="sendButton" class="basic-icon animated-icon animated-icon--send fa fa-envelope chat__send-message"></i>
            </div>
        </div>
    </div>
</section>

<section>
    @Html.Partial("_Screensaver")
</section>

@section scripts {
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: '' }, 'google-translate-element');
        }

        $(function () {
            ChatPage();
        });
    </script>
}