@section metadata{
    <title>Echelon Chat</title>
}

<section class="form-material">
    <div id="messages">
        <div id="loggingIn" class="info hidden">Logging in...</div>
        <div id="joiningChat" class="info hidden">Attempting to join </div>
    </div>
    <div id="conversations" class="sidebar">
        People in chat
    </div>
    <div>
        <input id="chat-input" class="chat__input form-control" type="text" data-target="@Url.Action("Index", "Token")" placeholder="Type a message" autofocus />
    </div>

</section>

@section scripts {
    <script src="//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.9/twilio-ip-messaging.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
}