@section metadata{
    <title>Echelon Chat</title>
}

@Html.AntiForgeryToken()
<section id="container" class="form-material">
    <div class="main-background"></div>
    <div id="loading">
        <div class="loading__overlay component__background">
            <div id="loadingMessages" class="loading__messages">
                <div id="loggingIn" class="info loading__text loading__text--initial">Logging in...</div>
                <div id="joiningChannel" class="info loading__text component__background">Joining channel: </div>
                <div id="joinedAs" class="info loading__text">Joined channel as: </div>
            </div>
        </div>
        <div class="loading__icon loading__icon--main"></div>
    </div>
    <div id="messages" class="messages__console"></div>
    <div id="users" class="sidebar component__background">
        People in chat
    </div>
    <div id="input-container">
        <textarea id="chat-input" class="chat__input component__background" rows="1" cols="3" data-target="@Url.Action("Index", "Token")" placeholder="Type a message" tabindex="1"></textarea>
        <div class="main-wrapper">
            <div id="bubbles" class="bubbles">
                <div class="bubble bubble--one">
                    <span class="bubble__glow"></span>
                </div>
                <div class="bubble bubble--two">
                    <span class="bubble__glow"></span>
                </div>
                <div class="bubble bubble--three">
                    <span class="bubble__glow"></span>
                </div>
                <div class="bubble bubble--four">
                    <span class="bubble__glow"></span>
                </div>
                <div class="bubble bubble--five">
                    <span class="bubble__glow"></span>
                </div>
            </div>
            <i id="sendButton" class="basic-icon animated-icon animated-icon--send fa fa-envelope"></i>
        </div>
    </div>
</section>

@section scripts {
    <script src="//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.9/twilio-ip-messaging.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: '' }, 'google-translate-element');
        }

        $(function () {
            ChatPage();
        });
    </script>
}